#overlay {
  position: fixed;       /* 화면 전체 덮기 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); /* 반투명 검정 */
  z-index: 999;          /* 팝업보다 뒤에 오게 */
}
form {
    position: fixed;
    width: 250px;
    aspect-ratio: 1 / 2.2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    overflow-y: auto;
    max-height: 80vh;
    -ms-overflow-style: none;
}
form::-webkit-scrollbar {
    display: none;
}
form h1 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-family: "Jersey 10", sans-serif;
    font-weight: 200;
    font-size: 2.8rem;
}
form legend {
    visibility: hidden;
    height: 0;
}
form span {
    font-size: 0.7rem;
}
form button {
    font-size: 1rem;
    margin: auto;
    width: 30%;
}
fieldset {
    padding: 0;
    border: 0;
    margin-bottom: 0.5em;
}
fieldset img {
    width: 15%;
    filter: invert(100);
}
#formStar {
    text-align: left;
}
/*======================================= 위에까지 폼*/
#timer {
    position: fixed;
    width: 9rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    left: 1rem;
    bottom: 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-family: "Jersey 10", sans-serif;
    color: white;
    display: flex;
    align-items: center;
}
#timer p {
    margin: auto;
}
/*======================================= 여기까지 타이머*/
body {
    display: flex;
    justify-content: center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.wrap {
    width: 100vw;
    margin-top: 100px;
    height: 90%;
    overflow-y: auto;
    z-index: 1;
    display: none;
}
.container {
    display: grid;
    max-width: 70%;
    margin: auto;
    grid-template-columns: 2fr 8fr;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    margin-bottom: 10px;
    border-radius: 10px 0 10px 10px;
}
.occName {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}
.occName img{
    width: 40%;
}
.memList {
    display: grid;
    grid-template-columns: repeat(10, minmax(50px,1fr));
}
.item {
    aspect-ratio: 1 / 1;
    background-image: url('./default.webp');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    opacity: 30%;
    transition-duration: 200ms;
}
.nameTag {
    box-sizing: border-box;
    width: 100%;
    font-size: 70%;
    padding: 2px;
    padding-left: 5px;
    color: white;
    background-color: black;
    opacity: 70%;
    border-radius: 3px;
    display: none;
}
.scoreboard {
    overflow: hidden;
    grid-column: 1 / -1;
    height: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px black dotted;
    background-color: rgb(235, 235, 235);
    font-weight: 500;
    font-family: "Jersey 10", sans-serif;
}
#searchInput {
    top: 20px;
    height: 50px;
    width: 90%;
    position: fixed;
    z-index: 2;
    padding-left: 1em;
}
#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-image: url('./background.png');
    background-size: cover;
    z-index: 0;
}
#background2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-image: url('./background2.png');
    background-size: cover;
    z-index: 3;
    transition: opacity 300ms ease;
}
.notice {
    position: fixed;
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    opacity: 70%;
    display: none;
    z-index: 5000;
    top: 50%;
    left: 50%;
    width: 30em;
    max-width: 80vw;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*=======================================*/
@media (max-width: 730px){
    .memList {
        grid-template-columns: repeat(4, minmax(50px, 1fr));
    }
    .scoreboard {
        font-size: 80%;
        aspect-ratio: 12 / 1;
    }
    .container {
        max-width: 90%;
    }
}
@media (max-width: 1050px) and (min-width: 730px){
    .memList {
        grid-template-columns: repeat(6, minmax(50px, 1fr));
    }
    .scoreboard {
        aspect-ratio: 15 / 1;
    }
}
@media (max-width: 1200px) and (min-width: 1050px){
    .memList {
        grid-template-columns: repeat(8, minmax(50px, 1fr));
    }
    .scoreboard {
        aspect-ratio: 20 / 1;
    }
}