* {
    font-family: "Noto Sans KR", sans-serif;
    transition-duration: 200ms;
}
#overlay {
  position: fixed;       /* 화면 전체 덮기 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); /* 반투명 검정 */
  z-index: 999;          /* 팝업보다 뒤에 오게 */
}
form {
    position: fixed;
    width: 250px;
    aspect-ratio: 1 / 2.1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
form legend {
    visibility: hidden;
}
form button {
    font-size: 1rem;
    margin: auto;
    width: 30%;
}
fieldset {
    padding: 0;
    border: 0;
}
fieldset img {
    width: 15%;
    filter: invert(100);
}
#formStar {
    text-align: left;
}
.wrap {
    width: 100%;
    margin-top: 100px;
}
.container {
    display: grid;
    max-width: 70%;
    margin: auto;
    grid-template-columns: 2fr 8fr;
    border: 2px solid rgb(105, 105, 105);
    border-radius: 2px;
    margin-bottom: 5px;
}
.occName {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.occName img{
    width: 40%;
}
.memList {
    display: grid;
    grid-template-columns: repeat(10, minmax(50px,1fr));
}
.item {
    aspect-ratio: 1 / 1;
    background-image: url('./default.png');
    background-size: contain;
}
.nameTag {
    box-sizing: border-box;
    width: 100%;
    font-size: 70%;
    padding: 2px;
    padding-left: 5px;
    color: white;
    background-color: black;
    opacity: 70%;
    border-radius: 3px;
    display: none;
}
.scoreboard {
    overflow: hidden;
    grid-column: 1 / -1;
    aspect-ratio: 25 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black dotted;
    background-color: rgb(235, 235, 235);
    font-size: 1rem;
    font-weight: 500;
}
body {
    display: flex;
    justify-content: center;
}
#searchInput {
    top: 20px;
    height: 50px;
    width: 90%;
    position: fixed;
    z-index: 100;
}
#dupCheck {
    position: fixed;
    top: 50px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    opacity: 70%;
    display: none;
    z-index: 100;
}
/*=======================================*/
@media (max-width: 730px){
    .memList {
        grid-template-columns: repeat(4, minmax(50px, 1fr));
    }
    .scoreboard {
        font-size: 80%;
        aspect-ratio: 12 / 1;
    }
    .container {
        max-width: 90%;
    }
}
@media (max-width: 1050px) and (min-width: 730px){
    .memList {
        grid-template-columns: repeat(6, minmax(50px, 1fr));
    }
    .scoreboard {
        aspect-ratio: 15 / 1;
    }
    .container {
        max-width: 80%;
    }
}
@media (max-width: 1200px) and (min-width: 1050px){
    .memList {
        grid-template-columns: repeat(8, minmax(50px, 1fr));
    }
    .scoreboard {
        aspect-ratio: 20 / 1;
    }
}